extends layout

block content
  h1 #{title}
  p The only way to #[strong delete a journal entry] is to edit the database manually.

  p To do this, open your local copy of the repository for this project, and run the script called access_db.
