extends layout

block content
  h1 #{title}
  p Welcome to #[strong HGMJ], a mood journal.

  if loggedIn
    h2 Browse Data
    ul
      li #[a(href="/journal") #[i The Journal]], i.e. all entries.
      li #[a(href="/journal/recent") Recent entries].

    if isAdmin
      h2 Upload Data
      ul
        li Add a #[a(href="uploads/upload2/JournalEntry") new journal entry].

  else
    h2 Log In
    p Please log in below.
    form(action="/login", method="post")
      p
        | Username: 
        input(type="text", name="username")
      p
        | Password: 
        input(type="password", name="password")
      input(type="submit", value="Submit")
