doctype html
html
  head
    title HarvestHub | #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
    block content
    footer
      br
      p Property of #[a(href="https://www.b-hiveinnovations.co.uk/") B-hive Innovations] | Accessed: #{footstamp} | #[a(href="/") Home] | #[a(href="/logout") Log out] | For support, contact: #[i thosker@b-hiveinnovations.co.uk] !{secretLink}
