extends layout

block content
    h1=title

    h2 Yearlies
    ul
        li #[a(href="/summaries/2020.png") 2020]

    h2 Monthlies
    ul
        li 2020
        ul
            li #[a(href="/summaries/jul2020.png") Jul]
            li #[a(href="/summaries/aug2020.png") Aug]
            li #[a(href="/summaries/sep2020.png") Sep]
            li #[a(href="/summaries/oct2020.png") Oct]
            li #[a(href="/summaries/nov2020.png") Nov]
            li #[a(href="/summaries/dec2020.png") Dec]
        li 2021
        ul
            li #[a(href="/summaries/jan2021.png") Jan]
